// Generated using xcconfig-extractor by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
ENABLE_TESTABILITY = YES
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PLATFORM_DIR)/Developer/Library/Frameworks
HEADER_SEARCH_PATHS = $(inherited)
INFOPLIST_FILE = Async.xcodeproj/Async_Info.plist
LD_RUNPATH_SEARCH_PATHS = $(TOOLCHAIN_DIR)/usr/lib/swift/macosx
OTHER_LDFLAGS = $(inherited)
OTHER_SWIFT_FLAGS = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = dk.developmunk.Async
PRODUCT_MODULE_NAME = $(TARGET_NAME:c99extidentifier)
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
SKIP_INSTALL = YES
TARGET_NAME = Async
