// Generated using xcconfig-extractor by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "Base.xcconfig"
CLANG_ENABLE_OBJC_ARC = YES
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DYLIB_INSTALL_NAME_BASE = @rpath
GCC_OPTIMIZATION_LEVEL = s
MACOSX_DEPLOYMENT_TARGET = 10.10
OTHER_SWIFT_FLAGS = -DXcode
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = macosx
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator
SWIFT_ACTIVE_COMPILATION_CONDITIONS = SWIFT_PACKAGE
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
SWIFT_VERSION = 3.0
USE_HEADERMAP = NO
